body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.marker {
  height: 24px;
  width: 24px;
  transform: translate(
    -50%,
    -100%
  ); /* this helps the marker to point directly where the coordinate is  */
}

.popup {
  max-width: 300px;
}
