body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.marker {
  height: 24px;
  width: 24px;
  transform: translate(
    -50%,
    -100%
  ); /* this helps the marker to point directly where the coordinate is  */
}

.marker.yellow {
  fill: #f3b73e;
}
.marker.red {
  fill: red;
}

.popup {
  max-width: 300px;
  padding: 0.4rem;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}
